## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果
請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame
#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家
#### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [3]:
data = {'國家':['Taiwan','United State','Thailand'],'人口':[30000000,500000000,7000000000]}
df = pd.DataFrame(data)

In [4]:
df

           人口            國家
0    30000000        Taiwan
1   500000000  United State
2  7000000000      Thailand

In [5]:
import numpy as np
df2 = pd.DataFrame(columns=('lib', 'qty1', 'qty2') )
for x in np.arange(0, 5):
    df2.loc[x] = [np.random.randint(-1,1) for n in range(3)]

In [6]:
df2

  lib qty1 qty2
0   0   -1    0
1   0   -1    0
2  -1   -1   -1
3   0    0    0
4  -1    0   -1