In [2]:
import os
import numpy as np
import pandas as pd

In [18]:
# 設定 data_path, 並讀取 app_train
dir_data = 'D:/Python/Part01/'
f_app_train = os.path.join(dir_data, 'application_train.csv')
app_train = pd.read_csv(f_app_train)

## 作業
將下列部分資料片段 sub_train 使用 One Hot encoding, 並觀察轉換前後的欄位數量 (使用 shape) 與欄位名稱 (使用 head) 變化

In [19]:
sub_train = pd.DataFrame(app_train['WEEKDAY_APPR_PROCESS_START'])
print(sub_train.shape)
sub_train.head()

(307511, 1)

  WEEKDAY_APPR_PROCESS_START
0                  WEDNESDAY
1                     MONDAY
2                     MONDAY
3                  WEDNESDAY
4                   THURSDAY

In [10]:
app_train.dtypes.value_counts()

float64    65
int64      41
object     16
dtype: int64

In [11]:
# 類別型欄位 (pandas 中的 object) 的類別數量?
app_train.select_dtypes(include=["object"]).apply(pd.Series.nunique, axis = 0)

NAME_CONTRACT_TYPE             2
CODE_GENDER                    3
FLAG_OWN_CAR                   2
FLAG_OWN_REALTY                2
NAME_TYPE_SUITE                7
NAME_INCOME_TYPE               8
NAME_EDUCATION_TYPE            5
NAME_FAMILY_STATUS             6
NAME_HOUSING_TYPE              6
OCCUPATION_TYPE               18
WEEKDAY_APPR_PROCESS_START     7
ORGANIZATION_TYPE             58
FONDKAPREMONT_MODE             4
HOUSETYPE_MODE                 3
WALLSMATERIAL_MODE             7
EMERGENCYSTATE_MODE            2
dtype: int64

In [27]:
#模型怎麼處理類別型的資料？有什麼表示方法？
#(1) 使用for loop 一筆筆比對啁整資料
#(2) 使用 python encoding function

In [26]:
app_train['EMERGENCYSTATE_MODE']

0          No
1          No
2         NaN
3         NaN
4         NaN
5         NaN
6         NaN
7         NaN
8         NaN
9         NaN
10        NaN
11        NaN
12         No
13         No
14         No
15        NaN
16        NaN
17        NaN
18         No
19        NaN
20         No
21        NaN
22         No
23         No
24         No
25         No
26        Yes
27        NaN
28        NaN
29         No
         ...
307481    NaN
307482     No
307483     No
307484    NaN
307485    NaN
307486     No
307487    NaN
307488     No
307489    Yes
307490    NaN
307491    NaN
307492    NaN
307493    NaN
307494    NaN
307495     No
307496    NaN
307497    NaN
307498     No
307499    NaN
307500     No
307501     No
307502    NaN
307503    NaN
307504    NaN
307505     No
307506     No
307507     No
307508     No
307509     No
307510     No
Name: EMERGENCYSTATE_MODE, Length: 307511, dtype: object

###  before encoding

In [12]:
app_train['NAME_CONTRACT_TYPE']

0              Cash loans
1              Cash loans
2         Revolving loans
3              Cash loans
4              Cash loans
5              Cash loans
6              Cash loans
7              Cash loans
8              Cash loans
9         Revolving loans
10             Cash loans
11             Cash loans
12             Cash loans
13             Cash loans
14             Cash loans
15             Cash loans
16             Cash loans
17        Revolving loans
18        Revolving loans
19             Cash loans
20        Revolving loans
21             Cash loans
22             Cash loans
23             Cash loans
24             Cash loans
25             Cash loans
26             Cash loans
27             Cash loans
28             Cash loans
29        Revolving loans
               ...
307481         Cash loans
307482         Cash loans
307483         Cash loans
307484         Cash loans
307485    Revolving loans
307486         Cash loans
307487         Cash loans
307488         Cash loans
307489         Cash loans
307490         Cash loans
307491         Cash loans
307492         Cash loans
307493         Cash loans
307494         Cash loans
307495         Cash loans
307496    Revolving loans
307497         Cash loans
307498         Cash loans
307499         Cash loans
307500         Cash loans
307501         Cash loans
307502         Cash loans
307503         Cash loans
307504         Cash loans
307505         Cash loans
307506         Cash loans
307507         Cash loans
307508         Cash loans
307509         Cash loans
307510         Cash loans
Name: NAME_CONTRACT_TYPE, Length: 307511, dtype: object

## hot encoding

In [22]:
NC_TYPE = pd.get_dummies(app_train['NAME_CONTRACT_TYPE'])
NC_TYPE.head()

   Cash loans  Revolving loans
0           1                0
1           1                0
2           0                1
3           1                0
4           1                0

In [23]:
app_train['NAME_CONTRACT_TYPE'].head()

0         Cash loans
1         Cash loans
2    Revolving loans
3         Cash loans
4         Cash loans
Name: NAME_CONTRACT_TYPE, dtype: object

## Label Encoding

In [13]:
from sklearn.preprocessing import LabelEncoder

In [24]:
le = LabelEncoder()
le_count = 0

# If 2 or fewer unique categories
if len(list(app_train['NAME_CONTRACT_TYPE'].unique())) <= 2:
    # Train on the training data
    le.fit(app_train['NAME_CONTRACT_TYPE'])
    # Transform both training and testing data
    app_train['NAME_CONTRACT_TYPE'] = le.transform(app_train['NAME_CONTRACT_TYPE'])
  
    # Keep track of how many columns were label encoded
    le_count += 1

In [25]:
#after label encoding
app_train['NAME_CONTRACT_TYPE'].head()

0    0
1    0
2    1
3    0
4    0
Name: NAME_CONTRACT_TYPE, dtype: int32